.hidden {
  display: none;
}
h1 {
  text-align: center;
}
.main-section {
  background-image: src= "js/background.js";
  background-position: center;
}
.input-style {
  margin-left: 5em;
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 300px;
  font-size: 14px;
}
.time {
  text-align: center;
}
#todo-list {
  text-align: center;
}
.content-section {
  max-width: 75%;
  position: relative;
  height: 0;
  margin: 0 auto;
}
#quote {
  text-align: center;
}
#weather {
  text-align: center;
  color: grey;
}
