* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-section {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.background-container {
  background-image: src= "js/background.js";
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  position: relative;
  height: 96vh;
  background-color: rgba(209, 179, 179, 0.3);
  border-radius: 13px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  background-color: #c6c9e772;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  text-shadow: 1px 2px 1px rgb(230, 200, 200);
  cursor: default;
}

/* TODO INPUT FORM */
#todo-form {
  display: flex;
  justify-content: center;
}

.input-style {
  margin: 1rem;
  border-radius: 3rem;
  border: none;
  height: 2.5rem;
  width: 20rem;
  font-size: 0.9rem;
  text-align: center;
}

/* LOGIN */
#login-form {
  color: aliceblue;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: #f3dbdb;
  border: none;
  border-radius: 30px;
  height: 40px;
  color: grey;
  font-size: 0.9rem;
  width: 5rem;
  cursor: pointer;
}

/* TIME  */
.time {
  text-align: center;
  color: palevioletred;
  cursor: default;
  font-size: 2.5rem;
  margin-top: 5rem;
}

/* TODO LIST  */
#todo-list {
  text-align: center;
  color: azure;
  margin: 0.5rem;
  font-size: 1.4rem;
  height: 28vh;
  list-style: none;
}

li:hover {
  opacity: 0.5;
  transition: all 200ms ease-in-out;
  cursor: default;
}

li button {
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0.1rem;
  background-color: transparent;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #c6c9e772;
  color: rgb(22, 10, 10);
  height: auto;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

/* QUOTE */
#quote {
  display: flex;
  margin: 0 0.1rem;
}

#quote span:first-child {
  color: white;
  margin: 0.5rem;
}

#quote span:last-child {
  color: pink;
  margin: 0.5rem;
}

/* WEATHER  */
#weather {
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  color: rgb(83, 83, 83);
}
