* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-section {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.background-container {
  background-image: src= "js/background.js";
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.content-section {
  display: flex;
  justify-content: center;
  max-width: 70%;
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  color: pink;
}

/* TODO INPUT FORM */
#todo-form {
  display: flex;
  justify-content: center;
}

.input-style {
  margin: 1rem;
  border-radius: 3rem;
  border: none;
  height: 2.5rem;
  width: 20rem;
  font-size: 0.9rem;
  text-align: center;
}

/* LOGIN */
.login-form {
  color: aliceblue;
}
.login-button {
  background-color: #f3dbdb;
  border: none;
  border-radius: 30px;
  height: 40px;
  color: #c6c9e7;
  width: 70px;
}

/* TIME  */
.time {
  text-align: center;
  color: palevioletred;
}

/* TODO LIST  */
#todo-list {
  text-align: center;
  color: azure;
  margin: 1rem;
  height: 18rem;
}

li button {
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0.1rem;
  background-color: transparent;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #c6c9e772;
  color: rgb(22, 10, 10);
  margin: 0 1rem;
  height: auto;
  border-radius: 15px;
}

/* QUOTE */
#quote {
  display: flex;
  text-align: center;
}

#quote span:first-child {
  color: white;
  margin: 0.5rem;
}

#quote span:last-child {
  color: pink;
  margin: 0.5rem;
}

/* WEATHER  */
#weather {
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}
